<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/header.css">
    </head>
    <body>
        <div id="nav-bar">
            <nav class="navbar">
                <a href="/home">Home</a>
                <form action="/logout" method="post">
                    <button>Log out</button>
                </form>
            </nav>
        </div>

    </body>
</html>
